<template name="settings">
    <h2>Settings Page</h2>
    <form class="settingsForm form-control">
        <div class="row col-lg-9">
            <span class="col-lg-6">Name: {{currentUser.profile.username}}</span>
        </div>
        <hr>
        <div class="row">
            {{> GenderCheck}}
        </div>
        <hr>
            <div class="row">
                <div class="col-lg-5">
                    {{#if currentUser.profile.verified}}
                        <span class="alert alert-success">Verified</span>
                    {{else}}
                        <span class="alert-warning">Unverified</span>
                        <input type="text" id="summonerNameUpdate" class="col-lg-3" value="{{currentUser.summonerName}}">
                        <button id="verifyButton" class="col-lg-2" >Verify</button>
                    {{/if}}
                </div>
            </div>
        <hr>
        <div class="row">
            <div class="form-group" Name="Server">
                <div class="col-sm-2">
                <p> Pick what server you play on </p>
                    <select id="Server" class="form-control">
                    <option value="euw">EUW</option>
                    <option value="na">NA</option>
                    <option value="eune">EUNE</option>
                    <option value="tr">TR</option>
                    <option value="lan">LAN</option>
                    <option value="jap">JAP</option>
                    </select> 
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-2">
                <p> Pick what Role you main </p>
                    <select id="Role" class="form-control">
                    <option value="top">TOP</option>
                    <option value="jgl">Jungle</option>
                    <option value="mid">Midlane</option>
                    <option value="adc">Marksman</option>
                    <option value="sup">Support</option>
                    </select> 
                </div>
            </div>
        </div>
        <hr>
            {{> MicCheck }}
        <hr>
        <div class="row">
            <div class="col-lg-5">
                {{#if currentUser.profile.premium}}
                    <span class="alert alert-success">Premium account</span>
                {{else}}
                    <span class="alert alert-warning">Not premium</span>
                    <a href="{{pathFor 'premium'}}" class="col-lg-2">Buy Premium</a>
                {{/if}}
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-warning">
            <div class="glyphicon glyphicon-save"></div>
            Save changes
        </button>
        <button type="button" class="btn btn-danger">
            <div class="glyphicon glyphicon-remove"></div>
            Delete account
        </button>
    </form>
</template>

<template name="MicCheck">
    <div class="row">
        <form class="col-lg-12">
            <p>Do you own a Microphone?</p>
            <input type="radio" id="status-micro-1" name="MicroCheck" value="true" checked> Yes<br>
            <input type="radio" id="status-micro-2" name="MicroCheck" value="false"> No
        </form>
    </div>
</template>

<template name="GenderCheck">
    <div class="row">
        <form class="col-lg-12">
            <input type="radio" id="status-gender-1" name="GenderCheck" value="m" checked> Male<br>
            <input type="radio" id="status-gender-2" name="GenderCheck" value="f" > Female
        </form>
    </div>
</template>

