<template name="homeTeams">
    <form class="teamsearching" id="teamform">
    	<div id="placeholdersTeam">
        	<input type="text" name="Age" placeholder="Age">
        	<input type="text" name="Nationality" placeholder="Nationality">
        	<input type="text" name="Timezone" placeholder="Timezone">
        	<input type="text" name="Language" placeholder="Language">
        	<input type="text" name="Microphone" placeholder="Microphone">
    	</div>
    	<p id="text">Server:</p>
        <div class="form-group" id="chosebox">
      		<div class="col-sm-2">
        		<select id="server" class="form-control">
          		<option>EUW</option>
          		<option>NA</option>
          		<option>EUNE</option>
          		<option>TR</option>
          		<option>LAN</option>
          		<option>JAP</option>
        		</select> 
      		</div>
    	</div>
        <button type="submit">Submit</button>
    </form>
</template>