body {
    padding-top: 70px;
    background-color: #00BFFF;
    font-family: sans-serif;
    color: blue;
}

h1 {
	text-transform: uppercase;
	font-size: 60px;
	color: #FFD700;
}

.teamColumn {
    position: fixed;
    height: 80%;
    border-style: solid;
    border-color: black;
    border-width: 1px 0px 0px 1px;
    border: 10px solid black;
    padding: 35px;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.teamColumnItem {
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 1px 0px;
}

.images {
	max-width: 100%;
    height: auto;
}

img {
	border-radius: 20px;
}

.container-fluid {
	text-align: center;
	max-width: 60%;
}