<template name="layout">
    {{> nav}}
    <!--{{> teamColumn}}-->
    <div class="container-fluid" id="mainBody">
        <h1>Welcome champions!</h1>
        <div class="row">
            <div class="col-lg-3">
                <img class="img-responsive" id="img-with-radius" src="ass.jpg" alt="Mountain View">
            </div>
            <div class="col-lg-3">
                <img class="img-responsive" id="img-with-radius" src="bear.jpg" alt="Mountain View">
            </div>
            <div class="col-lg-3">
                <img class="img-responsive" id="img-with-radius" src="mage.jpg" alt="Mountain View">
            </div>
        </div>
    </div>
    <div class="fb-like" data-layout="button"></div>
    <div class="container-fluid">
        {{> yield}}
    </div>
</template>

