<template name="layout">
    {{> nav}}
    {{> teamColumn}}
    <div class="container-fluid">
        <h1>Welcome summoners!</h1>
        <div class="images">
        	<img src="ass.jpg"  alt="Mountain View" style="width:350px;height:185px;">
        	<img src="bear.jpg" alt="Mountain View" style="width:350px;height:185px;">
        	<img src="mage.jpg" alt="Mountain View" style="width:350px;height:185px;">
        </div>
        {{> yield}}
        <div class="fb-like" data-layout="button"></div>
    </div>
</template>