<template name="homeInvites">
    <form>
        <div class="row">
            <div class="col-lg-12">
                <br>
                {{#each invites}}
                    {{#if checkStatus status 'pending'}}
                        <span>{{getTeamName teamId}} </span>
                        <br>
                        <button class="AcceptInvite" type="button" data-id={{_id}}>Accept Invite</button>
                        <button class="DeclineInvite" type="button" data-id={{_id}}>Decline Invite</button>
                        <br>
                        <hr>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </form>
</template>
