<template name="homeAbout">
	<div id="aboutText">
	    <h2 data-toggle="collapse" data-target=".whatText">What is LoL Friend Findr?</h2>
	    <p class="whatText collapse">LoL friend findr is an application that allows you to find friends whit who you can play League of Legends together. It's mostly for people who don't have friends in the game so they can make new friends. It can finds people from all over the world.</p>
	    <h2 data-toggle="collapse" data-target=".workText">How does it work?</h2>
	    <p class="workText collapse">You login as an existing user or you create e new one. You can also login with your facebook or google account. 
	    There is a settings page where you can go to with the gear icon. Here you can change your information. There is also a possibility provided where you can buy premium, 
	    with this you can have unlimited teams. In the teams tab, you can create a new team. With the home tab you can manage your teams and also see in with team you are joined. There is also an about tab, this gives you information about the website. Then there is also a players and invites tab. With the players tab you can see all the players and you can also search for new players what depends on the information you provided. You can also select with team you are in and then go the players and if you see one you like, just add a player with the button add. It then sends an invite to the other person. If he accepts it, then he is a part of your team.  
	    </p>
	</div>
</template>
