<template name="homeAbout">
	<div id="aboutText">
	    <h2 data-toggle="collapse" data-target=".whatText">What is LoL Friend Findr?</h2>
	    <p class="whatText collapse">LoL friend findr is an application that allows you to find friends whit who you can play League of Legends together. It's mostly for people who don't have friends in the game so they can make new friends. It can finds people from all over the world.</p>
	    <h2 data-toggle="collapse" data-target=".workText">How does it work?</h2>
	    <p class="workText collapse">You login as an existing user or you create e new one. You can also login with your facebook or google account. 
	    There is a settings page where you can go to with the gear icon. Here you can change your information. There is also a possibility provided where you can buy premium, 
	    with this you can have unlimited teams. In the teams tab, you can add players to your team by clicking on the button: Add player. With this you go to the players tab, here you fill in some searching information what it makes easier for you to find good people to play with. Then there comes a lot off players where you can choose from. By clicking on them you send an invite to them so that they can join your team. 
	    </p>
	</div>
</template>
