<!-- <template name="homeTeams">
    <form class="teamsearching" id="teamform">
    	<div id="placeholdersTeam col-lg-12">
        	<input type="text" class="col-lg-2" name="Name" id="Name" placeholder="Name"><div class="col-lg-1"></div>
        	<input type="text" class="col-lg-2" name="Language" id="Language" placeholder="Language"><div class="col-lg-1"></div>
        	<input type="text" class="col-lg-2" name="Microphone" id="Microphone" placeholder="Microphone"><div class="col-lg-1"></div>
    	</div>
    	<p id="text" >Server:</p>
        <div class="form-group" id="choicebox">
      		<div class="col-sm-2">
        		<select id="server" class="form-control">
          		<option value="EUW">EUW</option>
          		<option value="NA">NA</option>
          		<option value="EUNE">EUNE</option>
          		<option value="TR">TR</option>
          		<option value="LAN">LAN</option>
          		<option value="JAP">JAP</option>
        		</select> 
      		</div>
    	  </div> -->
<template name="homeTeams">
<form class="Teamsearching" id="teamform">
    <div class="searching">
        <input type="text" class="col-lg-2" name="Name" id="Name" placeholder="Name">
        <input type="text" class="col-lg-2 col-lg-offset-1" name="Language" id="Language" placeholder="Language">
          Microphone: <input type="checkbox" name="Microphone" id="Microphone" checked="true"/>
          <select id="Server" name="Server" class="form-control">
            <option value="">select server</option>
            <option value="EUW">EUW</option>
            <option value="NA">NA</option>
            <option value="EUNE">EUNE</option>
            <option value="TR">TR</option>
            <option value="LAN">LAN</option>
            <option value="JAP">JAP</option>
          </select> 
        <button id="submit">Submit</button>
        <button id="AddingPlayer">Add player</button>
    </div>
</form>
      <div id="list">
        <ol>
          <ul class="list-group">
            
          </ul>
        </ol>
      </div>
</template>

